* {
	line-height: 1.7;
}

body {
	font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Noto Sans JP", sans-serif;
}

@media (max-width:767px) {
    .side-content {
        display: none;
    }

}

.card-body p {
	margin:0.5em 1em;
}

.card-body table {
	margin:0.5em 1em;
}

.card-body a:not(.btn)::before {/* fa-link */
	font-family: FontAwesome;
	content: "\f0c1";
    margin-left: 0.5em;
    margin-right: 0.1em;
}

.card-footer-tags-li {
    display: inline-block;
}

/* H2 */
h2{
	font-size: 1.1em;
	position: relative;
	line-height: 1.4;
	padding: 0.5em 0.5em 0.2em 0.5em;
	border-bottom:3px solid rgba(0, 230, 119, 0.479);
}

/* H3 */
h3 {
	font-size: 1.1em;
	position: relative;
	line-height: 1.4;
	padding: 0.5em 0.5em 0.5em 1.8em;
	border-left:5px solid rgba(0, 174, 255, 0.479);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h3:before {/* fa-check-circle */
	font-family: FontAwesome;
	content: "\f058";
	position: absolute;
	left : 0.5em;
}

/* H4 */
h4 {
	font-size: 1em;
	position: relative;
	line-height: 1.4;
	padding: 0.5em 0.5em 0.5em 2em;
}
h4:before {/* fa-search */
	font-family: FontAwesome;
	content: "\f002";
	position: absolute;
	left : 0.5em;
}

/* H5 */
h5 {
	font-size: 1em;
	position: relative;
	line-height: 1.2;
	padding: 0.5em 0.5em 0.5em 2em;
}
h5:before {/* fa-info-circle */
	font-family: FontAwesome;
	content: "\f05a";
	position: absolute;
	left : 0.5em;
}

/* H6 */
h6 {
	font-size: 1em;
	position: relative;
	line-height: 1.2;
	padding: 0.5em 0.5em 0.5em 2em;
}
h6:before {/* fa-lightbulb */
	font-family: FontAwesome;
	content: "\f0eb";
	position: absolute;
	left : 0.5em;
}

/* pagination */
.pagination {
    margin-left:auto;
    margin-right:auto;
}

.pagination li{
list-style-type:none;
display: inline-block;
}

.pagination li.active {
background-color: #e3f2fd;
color: white;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
border: 1px solid #ddd; /* Gray */
box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.pagination a:hover:not(.active) {
background-color: #9279d89a;
color: #fff;
}

/* ShortCode img-overflow.html */
.image-overflow {
	overflow: auto;
}

/* blockquote */
blockquote {
	position: relative;
	padding: .5em .75em;
	background: #f4f4f4;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	box-shadow: 0 7px 10px -5px rgba(0, 0, 0, .1) inset;
}
blockquote::after {
	position: absolute;
	bottom: -9px;
	right: 10%;
	content: '\002702';
	color: #aaa;
	font-size: 18px;
	line-height: 1;
}

/* KeyTop キーボードの見た目 */
keytop {
    margin: 0 0.4em;
    padding: 0px 5px 0px 3px;
    border-style: solid;
    border-color: #ABABAB;
    border-width: 1px 2px 2px 1px;
    background-color: #ffffff;
    font-family: monospace;
}

/* マーカー */
/* <span class="marker_pink">桃色の蛍光ペン(細)</span> */
.marker_lime {
background: linear-gradient(transparent 60%, #66FFCC 60%);
}
.marker_water {
	background: linear-gradient(transparent 60%, #66ccff 60%);
}
.marker_pink {
	background: linear-gradient(transparent 60%, #ff66ff 60%);
}