<div class="card">
    <div class="card-header">
        <i class="fa fa-arrow-circle-right fa-fw fa-lg" aria-hidden="true"></i> {{ .Title }}
    </div>
    <div class="card-body">
        {{ .Content }}
        <div class="text-right">
            <a href="#" class="btn btn-info btn-border" onclick="javascript:window.history.back(-1);return false;"><i class="fa fa-fast-backward fa-fw fa-lg" aria-hidden="true"></i> 戻る</a>
        </div>         
    </div>
    <div class="card-footer text-muted">
        <ul class="card-footer-tags-ul">
            {{ range .Params.tags }}
                <li class="card-footer-tags-li"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">[ {{ . }} ]</a> </li>
            {{ end }}
        </ul>
    </div>
</div>
